@model JIF.CMS.Core.Configuration.JIFConfig

<div class="row">
    <div class="col-md-5">

        <div class="box box-primary">
            <div class="box-header with-border">
                Welcome Admin Panel
            </div>

            <div class="box-body">
                <h1>@Model.WebSiteInfo.SiteName</h1>
                <h2>@Model.WebSiteInfo.Email</h2>
                <h3>@Model.WebSiteInfo.GitHub</h3>

                <h1>@Model.AttachmentConfig.UploadAddress</h1>
                @*<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=443070377&auto=1&height=66"></iframe>*@
            </div>

            <div class="box-footer">
                <h3>@ViewBag.RedisName</h3>
            </div>
        </div>
    </div>
</div>


