@model List<JIF.CMS.Core.Domain.TreeRelationObject<JIF.CMS.Core.Domain.Articles.ArticleCategory>>

@if (Model != null && Model.Any())
{
    <tr>
        <td></td>
        <td colspan="3">

            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width: 10px"><input class="form-control input-sm minimal" type="checkbox"></th>
                        @*<th style="width: 200px">排序</th>*@
                        <th>分类名称</th>
                        <th style="width:104px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var node in Model)
                    {
                        var hasChild = node.Childs != null && node.Childs.Any();

                        <tr class="no-padding" data-has-child="@(hasChild ? "1":"0")">
                            <td>
                                <input class="form-control input-sm minimal" type="checkbox">
                            </td>
                            @*<td>
                                    <input class="form-control input-sm" type="number" value="@node.Current.OrderIndex" />
                                </td>*@
                            <td>
                                <input class="form-control input-sm" type="text" value="@node.Current.Name" />
                            </td>
                            <td class="op-td" data-cate-id="@node.Current.Id" data-cate-name="@node.Current.Name">
                                <a href="javascript:;" class="btn btn-xs btn-default no-margin" data-toggle="tooltip" data-original-title="上移"><i class="fa fa-caret-up"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-default no-margin" data-toggle="tooltip" data-original-title="下移"><i class="fa fa-caret-down"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-default no-margin" data-toggle="tooltip" data-original-title="管理"><i class="fa fa-cog"></i></a>
                                <a href="javascript:;" class="btn btn-xs bg-red btn-default no-margin" data-toggle="tooltip" data-original-title="删除"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>

                        if (hasChild)
                        {
                            Html.RenderPartial("_CategoriesItem", node.Childs);
                        }
                    }

                </tbody>
            </table>
        </td>
    </tr>
}