@model List<JIF.CMS.Core.Domain.Articles.ArticleCategory>
@{
    ViewBag.Title = "分类管理";
}

<div class="row">
    <div class="col-md-12">

        <div class="box box-primary">
            <div class="box-body">

                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 10px"><input class="form-control input-sm minimal" type="checkbox"></th>
                            @*<th style="width: 200px">排序</th>*@
                            <th>分类名称</th>
                            <th style="width:104px;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var node in Model)
                        {
                            var hasChild = node.Childs != null && node.Childs.Any();

                            <tr class="no-padding" data-has-child="@(hasChild ? "1":"0")">
                                <td>
                                    <input class="form-control input-sm minimal" type="checkbox">
                                </td>
                                @*<td>
                                        <input class="form-control input-sm" type="number" value="@node.Current.OrderIndex" />
                                    </td>*@
                                <td>
                                    <input class="form-control input-sm" type="text" value="@node.Name" />
                                </td>
                                <td class="op-td" data-cate-id="@node.Id" data-cate-name="@node.Name">
                                    <a href="javascript:;" class="btn btn-xs btn-default no-margin" data-toggle="tooltip" data-original-title="上移"><i class="fa fa-caret-up"></i></a>
                                    <a href="javascript:;" class="btn btn-xs btn-default no-margin" data-toggle="tooltip" data-original-title="下移"><i class="fa fa-caret-down"></i></a>
                                    <a href="javascript:;" class="btn btn-xs btn-default no-margin" data-toggle="tooltip" data-original-title="管理"><i class="fa fa-cog"></i></a>
                                    <a href="javascript:;" class="btn btn-xs bg-red no-margin" data-toggle="tooltip" data-original-title="删除"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>

                            if (hasChild)
                            {
                                Html.RenderPartial("_CategoriesItem", node.Childs.Select(d => (JIF.CMS.Core.Domain.Articles.ArticleCategory)d));
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/styles/web-uploader")

    <style type="text/css">
        .table {
            margin-bottom: 0px;
        }

        /*.mailbox-attachment-icon {
            padding: 0 0;
        }*/

        /*.category-cover-img {
            max-height: 200px;
        }*/
    </style>
}

@section Scripts{
    @Scripts.Render("~/scripts/web-uploader", "~/scripts/page/article-categories")
}