@model ArticleEditViewModel
@{
    var article = Model.Article as JIF.CMS.Core.Domain.Articles.Article;
}

<div class="row">
    <div class="col-md-8">

        <div class="box box-primary">
            <div class="box-body">
                <div class="form-group">
                    <label for="inp-title">标题</label>
                    <input type="text" class="form-control" id="inp-title" placeholder="文章标题" value="@article.Title">
                </div>
                <div class="form-group">
                    <div id="txt-content"><textarea style="display:none;">@article.MarkdownContent</textarea></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-group">
                    <label for="inp-pub-date">发布日期</label>
                    <input type="text" class="form-control datepicker" id="inp-pub-date" placeholder="发布日期" value="@article.PublishTime.ToString(JIFConsts.DATETIME_NORMAL)">
                </div>
                <div class="form-group">
                    <label>所属分类</label>&nbsp;<i id="op-categories" class="fa fa-cog" style="cursor:pointer;" data-toggle="tooltip" data-original-title="管理分类"></i></small>
                    <select class="form-control" id="inp-category">
                        @foreach (var cate in Model.Categories)
                        {
                            <option value="@cate.Id" @(article.CategoryId == cate.Id ? "selected=\"selected\"" : "")>@cate.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="inp-pub-tags">标签</label>
                    <input type="text" class="form-control" id="inp-tags" placeholder="标签" value="@(string.Join(",",Model.ArticleTags))" />
                    <div id="all-tags" style="margin-top:5px;">
                        <small class="btn-block" style="margin-bottom:5px;">所有标签&nbsp;<i id="op-tags" class="fa fa-cog" style="cursor:pointer;" data-toggle="tooltip" data-original-title="管理标签"></i></small>
                        @foreach (var t in Model.Tags)
                        {
                            <button type="button" class="btn @(Model.ArticleTags.Any(d => d == t) ? "bg-maroon":"btn-default") btn-xs btn-flat">@t</button>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" class="minimal" id="inp-allow-comments" @(article.AllowComments ? "checked" : "")>
                    <label for="inp-allow-comments">允许评论</label>
                    &nbsp;
                    <input type="checkbox" class="minimal" id="inp-pub" @(article.IsPublished ? "checked" : "")>
                    <label for="inp-pub">是否发布</label><small class="text-warning">(* 不发布前台则无法显示)</small>
                </div>

            </div>

            <div class="box-footer">
                <button id="btn-save" type="submit" class="btn btn-success">保 存</button>
                <button id="btn-del" type="submit" class="btn btn-danger">删 除</button>

            </div>
        </div>
    </div>
</div>

<input type="hidden" id="inp-id" value="@article.Id" />

@section Scripts{
    @Scripts.Render("~/scripts/editor.md", "~/scripts/datetimepicker", "~/scripts/tagsinput", "~/scripts/page/article")
}

@section Styles{
    @Styles.Render("~/styles/editor.md", "~/styles/datetimepicker", "~/styles/tagsinput")
}